// Colors
$color-primary: #264065;
$color-accent: #55c2a5;
$color-bg: #FAF8F5;
$color-text: #555;
$color-muted: #909090;
$color-white: #fff;

// Fonts
$font-main: 'Poppins', sans-serif;

// Spacing
$section-padding: 2rem 2rem 0rem 2rem;