@use 'variables' as *;
@use 'reset';
@use 'sass:color';

html{
  background: linear-gradient($color-bg 0 820px, $color-white 820px 100%) ;
}

body{
  background-image: url("../img/lotus-background.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;
  min-height: 100vh;
}


.content{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

.site-header {
  padding: 2rem 2rem;
  font-family: $font-main;

  .nav {
    max-width: 1600px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .nav-links {
      display: flex;
      gap: 3rem;
      list-style: none;
      padding: 0;
      margin-left: 8rem;                          
      li a {
        text-decoration: none;
        color: $color-primary;
        font-weight: 400;
        font-size: 1.15rem;
        &:hover {
          text-decoration: underline;
        }

      }

      .dropdown {
        display: flex;
        gap: 1rem;
      }


    }

    .nav-actions {
      display: flex;
      align-items: center;
      gap: 4rem;
      justify-self: right;
      text-align: end;
      margin-left: auto;
      
      li{
        list-style: none;
      }

      .nav-actions-icons{
        display: flex;
        gap: 2rem;
        align-items: center;
        li a :hover {
          transform: scale(1.25)
        }
      }

      .nav-actions-buttons{
        display: flex;
        gap: 2rem;
      }

      .signin {
        color: $color-primary;
        font-weight: 500;
        text-decoration: underline;
        &:hover {
          color: color.scale($color-primary, $lightness: 30%);
        }
      }

      .signup {
        background-color: $color-primary;
        color: $color-white;
        padding: 1rem 2rem;
        border-radius: 999px;
        text-decoration: none;
        font-weight: 500;
        &:hover {
          background-color: color.scale($color-primary, $lightness: 15%);
        }
      }
    }
  }
}


.hero {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $section-padding;
  font-family: $font-main;
  gap: 5px;

  .hero-content {
    flex: 1 1 50%;

    h1 {
      font-size: 4rem;
      font-weight: 700;
      color: $color-primary;
      margin-bottom: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 80px;
      color: #264065;

    }

    .subtext {
      font-size: 1rem;
      color: $color-muted;
      line-height: 1.6;
      margin-bottom: 2rem;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5rem;

    }

    .hero-cta {
      display: flex;
      gap: 1rem;
      margin-bottom: 3rem;

      .btn {
        padding: 0.75rem 1.5rem;
        border-radius: 999px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        font-family: $font-main;
        font-weight: 400;
        font-size: 18px;


        &.primary {
          background-color: $color-primary;
          color: $color-white;
          align-self: center;
          padding: 1rem 2.5rem;
          &:hover {
            background-color: color.scale($color-primary, $lightness: 15%);;
          }
        }

        &.video {
          background: none;
          border: none;
          display: flex;
          align-items: center;
          gap: 1rem;
          color: $color-primary;

          &:hover {
            text-decoration: underline;
          }
          
          .play-icon {
            background: $color-white;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            &:hover {
              transform: scale(1.25)
            }
            
          }
        }


      }
    }

    .stats {
      display: flex;
      gap: 72px;
      padding: 32px;
      max-width: 643px;
      background-color: $color-white;
      border-radius: 16px;;

      .stat {
        text-align: center;

        img {
          width: 4.5rem;
          height: 4.5rem;
          margin-bottom: 0.5rem;
        }

        h3 {
          font-size: 36px;
          color: $color-primary;
          margin: 0;
          font-weight: 500;
        }

        p {
          font-size: 18px;
          color: $color-muted;
          margin: 0.25rem 0 0;
        }
      }
    }
  }

  .hero-image {
    flex: 1 1 45%;
    position: relative;

    img {
      margin-left: -12rem;
      max-width: 105%;
      height: auto;
      display: block;
    }

    .testimonial-card {
      position: absolute;
      background-color: #e7f6f2;
      padding: 1rem;
      border-radius: 1rem;
      max-width: 405px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      font-size: 18px;
      color: black;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(8px);


      p{
        padding-top: 2.5rem;
        position: relative;
        &::before {
          top: 0;
          position: absolute;
          content: "“";
          font-size: 5rem;
          line-height: 1;
          color: $color-primary;
        }
      }


      footer {
        font-weight: 600;
        color: $color-primary;
      }

      &.top {
        top: 18rem;
        right: -6rem;
      }

      &.bottom {
        top: 38rem;
        right: 0;
      }
    }
  }
}
